/***** Simply Countable plugin *****/

#counter-1, #counter-2 { font-weight: 600; }
.safe { color: green; }
.over { color: red; }
.no-js .char-count { display: none; }

/***** Dashboard Info Widget *****/

.admin-theme-thumb { background: #fff; text-align: center; border: 1px solid #ebebeb; }

/***** Add Color to MH Widgets *****/

#widget-list [id*='_mh_'] .widget-top { background: #ddd; box-shadow: 0 1px 0 #ebebeb inset; }